<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTF Challenge - Something Awesome Project</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
      .background {
        background-image: url("/resources/background.jpg");
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: cover;
      }

      .ctf-section {
        padding: 3%
      }
      
      .ctf-card {
        width: 300px;
        opacity: 0.7;
      }

      .navbar-brand {
        margin-left: 5%
      }

      .logout-button:hover {
        color: red;
      }

      .login-button:hover {
        color: lightgreen;
      }

      .font-adjust {
        color: white;
        text-shadow: 3px 3px black;
      }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body class="background">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: grey;">
      <a class="navbar-brand" href="#">CTF Challenge</a>
      <div class="collapse navbar-collapse align-items-center" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link active" href="#">Home</a>
          <button class="nav-item nav-link" data-toggle="modal" data-target="#infoModal">General Information</button>
        </div>
        <div class="navbar-nav ms-auto">
          <span class="navbar-text" id="pointsDisplay" hidden>Points: 0</span>
          <button class="nav-item nav-link login-button" id="loginButton" data-toggle="modal" data-target="#loginModal">Login</button>
          <button class="nav-item nav-link logout-button" id="logoutButton" data-toggle="modal" data-target="#logoutModal" hidden>Logout</button>
        </div>
      </div>
    </nav>

    <h1 class="font-adjust" style="margin-top: 10%; text-align: center;">CTF Challenge - Something Awesome Project</h1>

    <div class="ctf-section">
      <h2 class="font-adjust" style="padding-left: 1%;">Forensics</h3>
      <hr class="font-adjust" >

      <div class="card-columns d-flex justify-content-center">
        <div class="card ctf-card">
            <div class="card-body">
              <h5 class="card-title">Source OSINT</h5>
              <button type="button" class="btn btn-primary d-flex float-end" data-toggle="modal" data-target="#challengeModal" data-challenge="osint">Attempt</button>
            </div>
        </div>
      </div>
    </div>

    <div class="card-columns d-flex justify-content-center">
      <div class="card ctf-card">
          <div class="card-body">
            <h5 class="card-title">Plane Stego</h5>
            <button type="button" class="btn btn-primary d-flex float-end" data-toggle="modal" data-target="#challengeModal" data-challenge="stego">Attempt</button>
          </div>
      </div>
    </div>
  </div>

    <div class="ctf-section">
      <h2 class="font-adjust" style="padding-left: 1%;">Binary</h3>
      <hr class="font-adjust">

      <div class="card-columns d-flex justify-content-center">
        <div class="card ctf-card">
            <div class="card-body">
              <h5 class="card-title">Buffer Format</h5>
              <button type="button" class="btn btn-primary d-flex float-end" data-toggle="modal" data-target="#challengeModal" data-challenge="bufferformat">Attempt</button>
            </div>
        </div>
      </div>
    </div>

    <div class="ctf-section">
      <h2 class="font-adjust" style="padding-left: 1%;">Web</h3>
      <hr class="font-adjust">

      <div class="card-columns d-flex justify-content-center">
        <div class="card ctf-card">
            <div class="card-body">
              <h5 class="card-title">In Progress</h5>
              <button type="button" class="btn btn-primary d-flex float-end" data-toggle="modal" data-target="#challengeModal" data-challenge="test">Attempt</button>
            </div>
        </div>
      </div>
    </div>

    <div class="ctf-section">
        <h2 class="font-adjust" style="padding-left: 1%;">Crypto</h3>
        <hr class="font-adjust">

        <div class="card-columns d-flex justify-content-center">
          <div class="card ctf-card">
              <div class="card-body">
                <h5 class="card-title">In Progress</h5>
                <button type="button" class="btn btn-primary d-flex float-end" data-toggle="modal" data-target="#challengeModal" data-challenge="test">Attempt</button>
              </div>
          </div>
        </div>
    </div>

    <hr class="font-adjust">
    <i style="font-size: smaller; color: white; margin: 1%;">
      Background photo by <a href="https://unsplash.com/@withluke?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Luke Stackpoole</a> on <a href="https://unsplash.com/photos/5Qqkjn4PFPA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </i>

    <div class="modal fade" id="challengeModal" tabindex="-1" role="dialog" aria-labelledby="challengeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="challengeModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="taskDesc"></p>
            <form>
              <div class="form-group">
                <label for="flag-label" class="col-form-label">Flag:</label>
                <input type="text" class="form-control" id="flagInput">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <p style="color: green" id="challengeSubmitText" hidden>Flag Was Correct!</p>
            <p style="color: red" id="challengeErrorText" hidden></p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submitFlag()" id="submitButton" data-challengeId="test">Submit Flag</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="usernameInput">Username</label>
            <input type="email" class="form-control" id="usernameInput" placeholder="Enter username">
            <p style="color: red; font-size: small;" id="noAccountWarn" hidden>No account was found, please ensure the username is typed in correctly!</p>
            <p style="color: orangered; font-size: small;" id="accountFoundWarn" hidden>An account was found with this username, please try another one!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="createAccount()">Create Account</button>
            <button type="button" class="btn btn-primary" onclick="login()">Login</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="logout()">Confirm and Logout</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">General Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Under construction...
            <ul>
              <li>Item 1</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Event & button handlers
      document.addEventListener("DOMContentLoaded", async () => {
        await updateMainPage();
      });

      $(document).on('show.bs.modal', '#challengeModal', async (event) => {
        const button = $(event.relatedTarget); // Button that triggered the modal
        const challengeId = button.data('challenge');
        const cookie = getCookie();

        document.getElementById('submitButton').dataset.challengeId = challengeId;
        document.getElementById('challengeSubmitText').hidden = true;
        document.getElementById('challengeErrorText').hidden = true;

        const data = await getChallengeInfo(cookie, challengeId);

        if (data) {
          document.getElementById('challengeModalLabel').innerHTML = data.title;
          document.getElementById('taskDesc').innerHTML = data.desc;
          document.getElementById('challengeSubmitText').hidden = !data.gotFlag;
          document.getElementById('submitButton').disabled = data.gotFlag;
        } else {
          document.getElementById('challengeModalLabel').innerHTML = "ERROR";
          document.getElementById('taskDesc').innerHTML = "An unexpected error occurred in trying to fetch challenge information. Please try again later...";
        }
      });

      const submitFlag = async () => {
        const submission = document.getElementById('flagInput').value;
        const cookie = getCookie();
        const challengeId = document.getElementById('submitButton').dataset.challengeId;

        const data = await submitChallenge(cookie, challengeId, submission);

        const errorText = document.getElementById('challengeErrorText');
        if (!data.valid) {
          if (data.correct) {
            errorText.innerHTML = "Error: You have already got this flag!";
          } else {
            errorText.innerHTML = "Error: You must be logged in to submit a flag!";
          }
          errorText.hidden = false;
        } else {
          if (data.correct) {
            document.getElementById('challengeSubmitText').hidden = false;
            document.getElementById('submitButton').disabled = true;
            errorText.hidden = true;
          } else {
            errorText.innerHTML = "Your submitted flag was incorrect.";
            errorText.hidden = false;
          }
        }
      };

      const login = async () => {
        const username = document.getElementById('usernameInput').value;

        const res = await makeConnection(username);
        if (!res) {
          document.getElementById('usernameInput').style.borderColor = 'red';
          document.getElementById('noAccountWarn').hidden = res;

          return;
        }

        $('#loginModal').modal('hide');
        await updateMainPage();
      };

      const logout = async () => {
        document.cookie = 'challengeCookie=;'

        $('#logoutModal').modal('hide');
        await updateMainPage();
      }

      const createAccount = async () => {
        const username = document.getElementById('usernameInput').value;

        const res = await createConnection(username);

        if (!res) {
          document.getElementById('usernameInput').style.borderColor = 'orangered';
          document.getElementById('accountFoundWarn').hidden = false;
        } else {
          $('#loginModal').modal('hide');
          await updateMainPage();
        }
      };

      // Central functions

      const updateMainPage = async () => {
        // Reset page elements to defaults
        document.getElementById('usernameInput').style.borderColor = '';
        document.getElementById('noAccountWarn').hidden = true;
        document.getElementById('accountFoundWarn').hidden = true;

        const cookie = getCookie();
        let data;
        if (cookie) {
          data = await getUserData(cookie);
        };

        document.getElementById('loginButton').hidden = cookie;
        document.getElementById('logoutButton').hidden = !cookie;
        document.getElementById('pointsDisplay').hidden = !cookie;
        document.getElementById('pointsDisplay').innerHTML = data && data.valid ? `Points: ${data.points}` : "Points: ?";

        document.getElementById('challengeSubmitText').hidden = true;
        document.getElementById('challengeErrorText').hidden = true;
      }

      // Helper Functions

      // Requests

      const makeConnection = async (username) => {
        const res = await fetch(`/user/${username}`, {
          method: "GET"
        });
        
        const data = await res.json();
        if (data.valid) {
          document.cookie = data.cookie;
        }

        return data.valid;
      }

      const createConnection = async (username) => {
        const res = await fetch(`/user/${username}`, {
          method: "POST"
        });

        const data = await res.json();
        if (data.valid) {
          document.cookie = data.cookie;
        }

        return data.valid;
      }

      const getUserData = async (cookie) => {
        const res = await fetch('/user', {
          method: "GET",
          headers: {
            "user": cookie,
          }
        });

        return await res.json();
      }

      const getChallengeInfo = async (cookie, challengeId) => {
        const res = await fetch(`/challenge/${challengeId}`, {
          method: "GET",
          headers: {
            "user": cookie,
          },
        });

        return await res.json();
      }

      const submitChallenge = async (cookie, challengeId, submission) => {
        const res = await fetch(`/challenge/${challengeId}`, {
          method: "POST",
          headers: {
            "user": cookie,
          },
          body: {
            "submission": submission,
          }
        });

        return await res.json();
      }
      
      // Processing

      const getCookie = () => document.cookie
        .split("; ")
        .find((row) => row.startsWith(`challengeCookie=`))
        ?.replace('challengeCookie=', '')?.split(";")[0];
    </script>
  </body>
</html>